<div class="layui-layout layui-layout-admin">

  <!-- 菜单 -->
  <script id="skuHeader" type="text/html">
    <div class="layui-header" style="z-index:999!important;">
      <div class="fl header-logo"><a href="/"><span><b>Layui</b>Admin</span></a></div>
      <div class="fl header-fold "><a href="javascript:;" title="打开/关闭左侧导航" class="aicon " id="foldSwitch"></a></div>
      <ul class="layui-nav fl nobg main-nav">
        {{#  layui.each(d.menu, function(index, item){ }}

        {{# if(item.nav==1){ }}

        {{# if(index==0){ }}
        <li class="layui-nav-item layui-this">
          {{# }else{ }}
        <li class="layui-nav-item">
          {{# } }}
          <a href="javascript:;">{{ item['title'] }}</a></li>
        {{# } }}

        {{#  }); }}
      </ul>
      <ul class="layui-nav fr nobg head-info " >
        <li class="layui-nav-item" style="">
          <a href="javascript:;" layadmin-event="theme" title="换肤">
            <i class="layui-icon layui-icon-theme"> 换色</i>
          </a>
        </li>
        <li class="layui-nav-item layui-form" style="line-height: 40px; margin-right: 14px; display: none" >
          <input type="checkbox" name="" lay-skin="switch" lay-text="护眼|护眼" lay-filter="hy">
        </li>
        <li class="layui-nav-item">
          <a href="javascript:void(0);">您好，{{ d.cn_name }}&nbsp;&nbsp;</a>
          <dl class="layui-nav-child">
            <dd>
              <a lay-href="User/login">退出登陆</a>
            </dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="layui-side layui-bg-black" id="switchNav">
      <div class="layui-side-scroll">
        {{#  layui.each(d.menu, function(index, v){ }}

        {{# if(v.nav==1){ }}

        {{# if(index==0){ }}
        <ul class="layui-nav layui-nav-tree">
          {{# }else{ }}
          <ul class="layui-nav layui-nav-tree" style="display:none;">
            {{# } }}
            {{# if(v['childs']){ }}
            {{#  layui.each(v['childs'], function(kk,vv){ }}
            <li class="layui-nav-item {{# if(kk==0){ }}  layui-nav-itemed {{# } }}">
              <a href="javascript:;"><i class="{{ vv['icon'] }}"></i> {{ vv['title'] }}<span
                      class="layui-nav-more"></span></a>
              <dl class="layui-nav-child">

                {{# if(vv['childs']){ }}
                {{#  layui.each(vv['childs'], function(kkk,vvv){ }}
                <dd >
                  <a class="admin-nav-item" data-id="{{vvv['id']}}" href="/#/{{vvv['url']}}"><i class="{{vvv['icon']}}"></i> {{vvv['title']}}</a>
                </dd>
                {{#  }); }}
                {{# } }}

              </dl>
            </li>
            {{#  }); }}
            {{# } }}
          </ul>
          {{# } }}

          {{#  }); }}
        </ul>
      </div>
    </div>
  </script>
  
  <!-- 侧边菜单 -->
  <!--<div class="layui-side layui-side-menu">-->
    <!--<div class="layui-side-scroll">-->
      <!--<script type="text/html" template lay-url="/json/menu.js"-->
      <!--lay-done="layui.element.render('nav', 'layadmin-system-side-menu');" id="TPL_layout">-->
      <!---->
        <!--<div class="layui-logo" lay-href="">-->
          <!--<span><b>Layui</b>Admin</span>-->
        <!--</div>-->
        <!---->
        <!--<ul class="layui-nav layui-nav-tree" lay-shrink="all" id="LAY-system-side-menu" lay-filter="layadmin-system-side-menu">-->
        <!--{{# -->
          <!--var path =  layui.router().path-->
          <!--,pathURL = layui.admin.correctRouter(path.join('/'))-->
          <!--,dataName = layui.setter.response.dataName;-->
          <!---->
          <!--layui.each(d[dataName], function(index, item){ -->
            <!--var hasChildren = typeof item.list === 'object' && item.list.length > 0-->
            <!--,classSelected = function(){-->
              <!--var match = path[0] == item.name || (index == 0 && !path[0]) -->
              <!--|| (item.jump && pathURL == layui.admin.correctRouter(item.jump)) || item.spread;-->
              <!--if(match){-->
                <!--return hasChildren ? 'layui-nav-itemed' : 'layui-this';-->
              <!--}-->
              <!--return '';-->
            <!--}-->
            <!--,url = (item.jump && typeof item.jump === 'string') ? item.jump : item.name;-->
        <!--}}-->
          <!--<li data-name="{{ item.name || '' }}" data-jump="{{ item.jump || '' }}" class="layui-nav-item {{ classSelected() }}">-->
            <!--<a href="javascript:;" {{ hasChildren ? '' : 'lay-href="'+ url +'"' }} lay-tips="{{ item.title }}" lay-direction="2">-->
              <!--<i class="layui-icon {{ item.icon }}"></i>-->
              <!--<cite>{{ item.title }}</cite>-->
            <!--</a>-->
            <!--{{# if(hasChildren){ }}-->
              <!--<dl class="layui-nav-child">-->
              <!--{{# layui.each(item.list, function(index2, item2){ -->
                <!--var hasChildren2 = typeof item2.list == 'object' && item2.list.length > 0-->
                <!--,classSelected2 = function(){-->
                  <!--var match = (path[0] == item.name && path[1] == item2.name) -->
                  <!--|| (item2.jump && pathURL == layui.admin.correctRouter(item2.jump)) || item2.spread;-->
                  <!--if(match){-->
                    <!--return hasChildren2 ? 'layui-nav-itemed' : 'layui-this';-->
                  <!--}-->
                  <!--return '';-->
                <!--}-->
                <!--,url2 = (item2.jump && typeof item2.jump === 'string') -->
                  <!--? '#/'+item2.jump-->
                <!--:  '#/'+[item.name, item2.name, ''].join('/');-->
              <!--}}-->
                <!--<dd  data-name="{{ item2.name || '' }}"  data-jump="{{ item2.jump || '' }}" -->
                <!--{{ classSelected2() ? ('class="'+ classSelected2() +'"') : '' }}>-->
                  <!--<a  {{ hasChildren2 ? 'href="javascript:;"' : 'href="'+ url2 +'"' }}>{{ item2.title }}</a>-->
                  <!--{{# if(hasChildren2){ }}-->
                    <!--<dl class="layui-nav-child">-->
                      <!--{{# layui.each(item2.list, function(index3, item3){ -->
                        <!--var match = (path[0] == item.name && path[1] == item2.name && path[2] == item3.name) -->
                        <!--|| (item3.jump && pathURL == layui.admin.correctRouter(item3.jump))-->
                        <!--,url3 = (item3.jump && typeof item3.jump === 'string') -->
                          <!--? '#/'+item3.jump-->
                        <!--: '#/'+[item.name, item2.name, item3.name].join('/')-->
                      <!--}}-->
                        <!--<dd data-name="{{ item3.name || '' }}"  data-jump="{{ item3.jump || '' }}" -->
                        <!--{{ match ? 'class="layui-this"' : '' }}>-->
                          <!--<a href="{{ url3 }}" {{ item3.iframe ? 'lay-iframe="true"' : '' }}>{{ item3.title }}</a>-->
                        <!--</dd>-->
                      <!--{{# }); }}-->
                    <!--</dl>-->
                  <!--{{# } }}-->
                <!--</dd>-->
            <!--{{# }); }}-->
            <!--</dl>-->
            <!--{{# } }}-->
          <!--</li>-->
        <!--{{# }); }}-->
        <!--</ul>-->
      <!--</script>-->
    <!--</div>-->
  <!--</div>-->

  <!-- 主体内容 -->
  <div class="layui-body" id="LAY_app_body">
    <div class="layadmin-tabsbody-item layui-show"></div>
  </div>
  
  <!-- 辅助元素，一般用于移动设备下遮罩 -->
  <div class="layadmin-body-shade" layadmin-event="shade"></div>
  
</div>

<!-- 页面标签 -->
<script type="text/html" template lay-done="layui.element.render('nav', 'layadmin-pagetabs-nav')">
  {{# if(layui.setter.pageTabs){ }}
  <div class="layadmin-pagetabs" id="LAY_app_tabs">
    <div class="layui-icon layadmin-tabs-control layui-icon-prev" layadmin-event="leftPage"></div>
    <div class="layui-icon layadmin-tabs-control layui-icon-next" layadmin-event="rightPage"></div>
    <div class="layui-icon layadmin-tabs-control layui-icon-down">
      <ul class="layui-nav layadmin-tabs-select" lay-filter="layadmin-pagetabs-nav">
        <li class="layui-nav-item" lay-unselect>
          <a href="javascript:;"></a>
          <dl class="layui-nav-child layui-anim-fadein">
            <dd layadmin-event="closeThisTabs"><a href="javascript:;">关闭当前标签页</a></dd>
            <dd layadmin-event="closeOtherTabs"><a href="javascript:;">关闭其它标签页</a></dd>
            <dd layadmin-event="closeAllTabs"><a href="javascript:;">关闭全部标签页</a></dd>
          </dl>
        </li>
      </ul>
    </div>
    <div class="layui-tab" lay-unauto lay-allowClose="true" lay-filter="layadmin-layout-tabs">
      <ul class="layui-tab-title" id="LAY_app_tabsheader">
        <li lay-id="/"><i class="layui-icon layui-icon-home"></i></li>
      </ul>
    </div>
  </div>
  {{# } }}
</script>

<script>
    layui.use(['laytpl', 'element','common','form'], function () {
        var $ = layui.$
            , element = layui.element
            , admin = layui.admin
            , setter = layui.setter
            , form = layui.form
            , tool = layui.common
            , laytpl = layui.laytpl;
        var getTpl = skuHeader.innerHTML
            , view = $('#view');

        //绿色 {"bg":['#e1f8e3','#b8eabb','#60be66','#399e3f']}
        //淡粉色{"bg":['#FDFBFE','#ECDFF4','#AE87C5','#8759A3']}
        //淡粉色{"bg":['#FFD6D6','#FFB1B1','#DA5858','#B83030']}
        //淡粉色{"bg":['#C6F1E9','#90DBCC','#3DA08D','#248D78']}
        //淡粉色{"bg":['#FFFFFF','#FFFEFA','#D4D1B6','#B3AE87']}
        //淡粉色{"bg":['#82CDEE','#55BAE5','#0A98D5','#0474A5']}
        //淡粉色{"bg":['#EFEBFD','#CBBFF2','#816BC8','#6048AB']}

        $('body').on('click','.set-bg',function () {
            var bg=this.getAttribute('data-index');
            $('.set-bg').removeClass('layui-this');$(this).addClass('layui-this');
            $('.css-bg-10').remove();
            laytpl(huyan.innerHTML).render(layui.setter.bg[bg], function (html) {
                if(bg!=1){
                    $('body').append(html);
                }
                layui.data(setter.tableName, {
                    key: 'bg'
                    , value: bg
                });
            })
            $.ajax({
                type: 'post',
                url: "/index/User/editBg",
                dataType: 'json',
                data: {'bg':bg},
                success: function (data) {

                }
            })
        })
        function setBg(bg) {
            if(bg!=1){
                laytpl(huyan.innerHTML).render(layui.setter.bg[bg], function (html) {
                    $('body').append(html);
                })
            }
        }
        var indexHref='Module/table';

        tool.ajax({"url":"/index/User/config",'jy-search':1},function(res){
//            console.log(res);return false;
            //admin.cacheConfig(res);
            if( typeof res.data.menu !="undefined"){
                //请求成功后，写入 access_token
                admin.cacheConfig(res);

                var v3={};
                var v4={};
                for(var i in res.data.menu){
                    //第一层 res.data.menu[i].title
                    var t1=res.data.menu[i].title;
                    if(typeof res.data.menu[i].childs!="undefined"){
                        for(var i2 in res.data.menu[i].childs){
                            //第二层 res.data.menu[i].childs[i2].title
                            var t2=res.data.menu[i].childs[i2].title;
                            if(typeof res.data.menu[i].childs[i2].childs!="undefined"){
                                for(var i3 in res.data.menu[i].childs[i2].childs){
                                    //第三层 res.data.menu[i].childs[i2].childs[i3].title
                                    var url3=res.data.menu[i].childs[i2].childs[i3].url;
                                    var t3=res.data.menu[i].childs[i2].childs[i3].title;
                                    v3[url3]=t1+','+t2+','+t3;
                                    if(typeof res.data.menu[i].childs[i2].childs[i3].childs!="undefined"){
                                        for(var i4 in res.data.menu[i].childs[i2].childs[i3].childs){
                                            //第四层
                                            var url4=res.data.menu[i].childs[i2].childs[i3].childs[i4].url;
                                            var t4=res.data.menu[i].childs[i2].childs[i3].childs[i4].title;
                                            v4[url4]=t1+','+t2+','+t3+','+t4;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                indexHref=Object.keys(v3)[0];

                var url=layui.router().path.join('/');
                var url1='';
                if(url==''){
                    url=layui.setter.entry;
                }
                url1=url;
                if(url=='Newsku/index'){
                    url=indexHref;
                }
                if(url1=='Newsku/index'&&indexHref!='Newsku/index'){
                    location.hash= '/'+indexHref;
                    window.location.reload();
                    return false;
                }

                layui.data(setter.tableName, {
                    key: 'menu3'
                    ,value: v3
                });
                layui.data(setter.tableName, {
                    key: 'menu4'
                    ,value: v4
                });

                setBg(res.data.bg);

                laytpl(getTpl).render(res.data, function (html) {
                    $('.layui-layout-admin').prepend(html);
                    element.render('nav');

                  /* 打开/关闭左侧导航 */
                    $('#foldSwitch').click(function(){
                        var that = $(this);
                        if (that.hasClass('ai-zhankaicaidan')) {
                            //展开
                            $('#switchNav').animate({width:'200px'}, 100);
                            $('.switchBody').animate({left:'200px'}, 100);
                            $('#switchNav .layui-nav-item').addClass('layui-nav-itemed');
                            that.addClass('ai-shouqicaidan').removeClass('ai-zhankaicaidan');
                        }else{
                            //缩
                            $('#switchNav').animate({width:'39px'}, 100);
                            $('.switchBody').animate({left:'39px'}, 100);
                            $('#switchNav .layui-nav-item').removeClass('layui-nav-itemed');
                            that.removeClass('ai-shouqicaidan').addClass('ai-zhankaicaidan');
                        }

                    });
                  /* 导航菜单切换 */
                    $('.main-nav a').click(function () {
                        var that = $(this), i = $('.main-nav a').index(this);
                        $('.layui-nav-tree').hide().eq(i).show();
                    });
                    //初始化菜单状态
                    $(".main-nav li").removeClass("layui-this");
                    $(".layui-side-scroll ul").hide();

                    var breadcrumb='';

                    if(typeof layui.data(layui.setter.tableName).menu3[url] !="undefined"){
                        breadcrumb=layui.data(layui.setter.tableName).menu3[url];
                    }else if(typeof layui.data(layui.setter.tableName).menu4[url] !="undefined"){
                        breadcrumb=layui.data(layui.setter.tableName).menu4[url];
                    }
                  /* 导航高亮标记 */
                    if(breadcrumb){
                        $(".main-nav a:contains("+breadcrumb.split(',')[0]+")").parent().addClass('layui-this');
                        $(".layui-side-scroll dd a:contains("+breadcrumb.split(',')[2]+")").parent().parent().parent().parent().show();
                        $(".layui-side-scroll dd a:contains("+breadcrumb.split(',')[2]+")").parent().addClass('layui-this');
                    }
                    $('#switchNav .layui-nav-item').addClass('layui-nav-itemed');
                    if(breadcrumb){
                        var html='';
                        breadcrumb=breadcrumb.split(',');
                        $.each(breadcrumb, function(i, v){
                            if((breadcrumb.length-1)==i){
                                html+="<a><cite>"+v+"</cite></a>";
                            }else{
                                html+="<a>"+v+"</a>";
                            }
                        });
                        $('.jy-breadcrumb').html(html);
                        element.render('breadcrumb');
                    }

                });
                // form.render(); //更新全部



            }else{
                layer.alert(res.msg);
            }

        },'',1);
    })
</script>
