<div class="layui-fluid">
    <div class="layui-breadcrumb jy-breadcrumb">
    </div>
    <div class="layui-card">
        <div class="layui-card-body">
            <table id="LAY-list"  lay-filter="LAY-list"></table>
            <!-- 行内工具 -->
            <script type="text/html" id="LAY-list-toolbar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-href="System/roleForm/id={{d.id}}">编辑</a>
            </script>
            <!-- 头部工具栏 -->
            <script type="text/html" id="toolbar">
                <div class="layui-btn-group fl layui-btn-group-jy">
                    <a lay-href="System/roleFormAdd/id=0" class="layui-btn layui-btn-primary layui-btn-sm layui-icon layui-icon-add-circle-fine">&nbsp;新增</a>
                </div>
            </script>

        </div>
    </div>
</div>

<script>
    layui.use(['admin', 'table', 'form','common'], function () {
        var $ = layui.$
            , admin = layui.admin
            , view = layui.view
            , table = layui.table
            , tool = layui.common
            , form = layui.form;
        table.render({
            elem: '#LAY-list'
            ,url: '/index/System/roleList'
            ,toolbar: '#toolbar'
            ,defaultToolbar:[]
            ,cellMinWidth:80
            ,cols: [[
                {field: 'id', title: 'ID'}
                ,{field: 'name', title: '角色名'}
                ,{field: 'status', title: '状态'}
                ,{field: 'user', title: '最后操作人'}
                ,{field: 'ctime', title: '创建时间'}
                ,{field: 'utime', title: '更新时间'}
                ,{title: '操作', align:'center', fixed: 'right', toolbar: '#LAY-list-toolbar'}
            ]]
            ,page: true
            ,limit: 10
            ,text:{none: '暂无相关数据!' }
        });

    });
</script>