
<!-- 主题设置模板 -->

<script type="text/html" template lay-done="layui.data.theme();">
  {{# 
    var themeColorIndex = layui.data(layui.setter.tableName).bg;
  }}

  <div class="layui-card-header">
    配色方案
  </div>
  <div class="layui-card-body layadmin-setTheme">
    <ul class="layadmin-setTheme-color">
      {{# layui.each(layui.setter.bg, function(index, item){ }}
        <li   data-index="{{ item.name }}" style="background-color:{{item.bg[2]}} " data-alias=""
        {{ item.name ==themeColorIndex ? 'class="layui-this set-bg"' : 'class="set-bg"' }} title="">

        </li>
      {{# }); }}
    </ul>
  </div>
</script>

<script>
layui.data.theme = function(){
  layui.use(['form','laytpl'], function(){
    var form = layui.form
            , laytpl = layui.laytpl
            ,$ = layui.$
    ,admin = layui.admin;
    
    //监听隐藏开关


  });
};
</script>
